table{border:4 ;
width: 500px;
height: 200px;}

td{background-color: red;
    width:50%;}


.grun{background-color: green;}

.blau{background-color: blue;}

div{font-family: Arial, Helvetica, sans-serif;
color: azure;
font-size: 10pt;}

strong{font-weight: 800 ;}